<div class="container-fluid">
  <div class="row-fluid">
  <accordion close-others="false">
  <accordion-group heading="{{insertMode && 'Insérer une nouvelle assistance' || 'Modifier une assistance'}}" is-open="{{openInsertPanel}}">

    <form class="form-horizontal" role="form">
    <div class="form-group">
      <label for="inputDate" class="col-sm-3 control-label">Date</label>
      <div class="col-sm-9">
        <input class="form-control" id="inputDate" placeHolder="Date" ng-model="newInput.dateAssistance"></input>
      </div>
    </div>
    <div class="form-group">
      <label for="inputOperator" class="col-sm-3 control-label">Opérateur</label>
      <div class="col-sm-9">
        <input class="form-control" id="inputOperator" placeHolder="Opérateur" ng-model="newInput.operator"></input>
      </div>
    </div>
    <div class="form-group">
      <label for="inputLastName" class="col-sm-3 control-label">Nom</label>
      <div class="col-sm-9">
        <input class="form-control" id="inputLastName" placeHolder="Nom" ng-model="newInput.lastName"></input>
      </div>
    </div>
    <div class="form-group">
      <label for="inputFirstName" class="col-sm-3 control-label">Prénom</label>
      <div class="col-sm-9">
        <input class="form-control" id="inputFirstName" placeHolder="Prénom" ng-model="newInput.firstName"></input>
      </div>
    </div>
    <div class="form-group">
      <label for="inputOperationType" class="col-sm-3 control-label">Type d'opération</label>
      <div class="col-sm-9">
        <input class="form-control" id="inputOperationType" placeHolder="Type d'opération" ng-model="newInput.operationType"></input>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Lieu</label>
      <div class="col-sm-9">
        <select ng-model="newInput.operationHospital" class="form-control"
          ng-options="operationHospital.name as operationHospital.name for operationHospital in allOperationHospital">
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="inputAmount" class="col-sm-3 control-label">Montant assistant</label>
      <div class="col-sm-9">
        <input class="form-control" id="inputAmount" placeHolder="Montant assistant" ng-model="newInput.amount"></input>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPaidDate" class="col-sm-3 control-label">Date réception paiement</label>
      <div class="col-sm-9">
        <input class="form-control" id="inputPaidDate" placeHolder="Date réception paiement" ng-model="newInput.paidDate"></input>
      </div>
    </div>
    <div class="form-group">
      <label for="inputComment" class="col-sm-3 control-label">Commentaire</label>
      <div class="col-sm-9">
        <textarea class="form-control" rows="3" id="inputComment" placeHolder="Commentaire" ng-model="newInput.comment"></textarea>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
	      <button type="submit" class="btn btn-default" ng-click="insert()"><i class="glyphicon glyphicon-{{insertMode && 'plus' || 'ok'}}"></i> {{insertMode && 'Ajouter' || 'Modifier'}}</button>
      </div>
    </div>
    </form>
    </accordion-group>
    </accorion>

    <p>Assistances pour le mois : {{dateAssistance | date:'MM.yyyy'}}</p>
    <table class="table table-striped">
      <tr class="info">
      	<th>Date</th>
        <th>Opérateur</th>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Montant Assistant</th>
        <th>Date paiement</th>
        <th></th>
        <th></th>
      <tr>

      <tr ng-repeat="assistance in assistances">
        <td>{{getNiceDate(assistance.dateAssistance)}}</td>
        <td>{{assistance.operator}}</td>
        <td>{{assistance.firstName}}</td>
        <td>{{assistance.lastName}}</td>
        <td>{{assistance.amount}}</td>
        <td>{{assistance.paidDate | date:'dd.MM.yyyy'}}</td>
        <td><i class="glyphicon glyphicon-trash" ng-click="delete(assistance.id)" title="id: {{assistance.id}}"></i></td>
        <td><i class="glyphicon glyphicon-pencil" ng-click="modify(assistance)"></i></td>
      </tr>
      
    </table>

  </div>
</div>

