<p><a href="#/administration/" style="float: right; padding-right: 20px;">administration</a></p>

<div ng-controller="DatepickerOperationCtrl">
  <p><a href="#/operations/day/{{dt | date:'dd.MM.yyyy' }}">Entrer les opérations pour aujourd'hui : {{dt | date:'d.M.yyyy' }}</a></p>

    <div style="display:inline-block; min-height:220px;">
      <div class="well well-sm" ng-model="dt" ng-change="dateChanged()">
         <datepicker show-weeks="false" starting-day="1"></datepicker>
      </div>
    </div>

</div>

<div>
    <table class="table table-striped table-hover">
      <thead>
	      <tr class="info">
		    <th>Mois</th>
		    <th>Année</th>
		    <th>Montant</th>
	      	<th>Montant assist. 1</th>
	        <th>Montant assist. 2</th>
	        <th>Interv. payés</th>
	        <th>Ass. payés</th>
	      <tr>
	  </thead>

	  <tbody>
	      <tr ng-repeat="monthOperation in allMonthOperations" ng-click="changeLocation('#/operations/day/01.' + monthOperation.month + '.' + monthOperation.year + '?openInsertPanel=true') ">
	        <td>{{monthOperation.month}}</td>
	        <td>{{monthOperation.year}}</td>
	        <td>{{monthOperation.amount}}</td>
	        <td>{{monthOperation.assistantOneAmount}}</td>
	        <td>{{monthOperation.assistantTwoAmount}}</td>
	        <td>{{monthOperation.numberPaymentsRecieved}} / {{monthOperation.numberOperations}}</td>
	        <td>{{monthOperation.numberAssistantPaid}} / {{monthOperation.numberAssistedOperations}}</td>
	      </tr>
	  </tbody>
      
    </table>
</div>

