<div class="container-fluid">
  <div class="row-fluid">
  <accordion close-others="false">
  <accordion-group heading="Insérer une nouvelle entrée pour le {{dateConsult | date:'dd.MM.yyyy'}}" is-open="true">

    <form class="form-horizontal" role="form">
    <div class="form-group">
      <label for="inputOrder" class="col-sm-3 control-label">Ordre</label>
      <div class="col-sm-9">
        <input class="form-control" id="inputOrder" placeHolder="Nom" ng-model="newInput.order"></input>
      </div>
    </div>
    <div class="form-group">
      <label for="inputLastName" class="col-sm-3 control-label">Nom</label>
      <div class="col-sm-9">
        <input class="form-control" id="inputLastName" placeHolder="Nom" ng-model="newInput.lastName"></input>
      </div>
    </div>
    <div class="form-group">
      <label for="inputFirstName" class="col-sm-3 control-label">Prénom</label>
      <div class="col-sm-9">
        <input class="form-control" id="inputFirstName" placeHolder="Prénom" ng-model="newInput.firstName"></input>
      </div>
    </div>
    <div class="form-group">
      <label for="inputFullPrice" class="col-sm-3 control-label">Prix consultation</label>
      <div class="col-sm-9">
        <input class="form-control" id="inputFullPrice" placeHolder="Prix consultation" ng-model="newInput.consultationPrice"></input>
      </div>
    </div>
    <div class="form-group">
      <label for="inputMaterialPrice" class="col-sm-3 control-label">Prix matériel</label>
      <div class="col-sm-9">
        <input class="form-control" id="inputMaterialPrice" placeHolder="Prix matériel" ng-model="newInput.materialPrice"></input>
      </div>
    </div>
    <div class="form-group">
      <label for="inputMedicamentPrice" class="col-sm-3 control-label">Prix médicaments</label>
      <div class="col-sm-9">
        <input class="form-control" id="inputMedicamentPrice" placeHolder="Prix médicaments" ng-model="newInput.medicamentPrice"></input>
      </div>
    </div>
    <div class="form-group">
      <label for="inputRebate" class="col-sm-3 control-label">Rabais (en %)</label>
      <div class="col-sm-9">
        <input class="form-control" id="inputRebate" placeHolder="Rabais"  ng-model="newInput.rebate"></input>
      </div>
    </div>
    <div class="form-group">
      <label for="inputBirthDate" class="col-sm-3 control-label">Date de naissance</label>
      <div class="col-sm-9">
        <input class="form-control" id="inputBirthDate" placeHolder="Date de naissace" ng-model="newInput.birthDate"></input>
      </div>
    </div>
    <div class="form-group">
      <label for="inputComment" class="col-sm-3 control-label">Commentaire</label>
      <div class="col-sm-9">
        <textarea class="form-control" rows="3" id="inputComment" placeHolder="Commentaire" ng-model="newInput.comment"></textarea>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
	      <button type="submit" class="btn btn-default" ng-click="insert()"><i class="glyphicon glyphicon-{{insertMode && 'plus' || 'ok'}}"></i> {{insertMode && 'Ajouter' || 'Modifier'}}</button>
      </div>
    </div>
    </form>
    </accordion-group>
    </accorion>

    <table class="table table-striped">
      <tr class="info">
        <th>Prénom</th>
        <th>Nom</th>
        <th class="amount">Prix consultation</th>
        <th>Rabais</th>
        <th class="amount">Consult avec Rabais</th>
        <th class="amount">Matériel</th>
        <th class="amount">Médicaments</th>
        <th class="amount">Prix total</th>
        <th></th>
        <th></th>
      <tr>

      <tr ng-repeat="consult in consults">
        <td>{{consult.firstName}}</td>
        <td>{{consult.lastName}}</td>
        <td class="amount">{{consult.consultationPrice | toFixed : 2}}</td>
        <td>{{consult.rebate}}</td>
        <td class="amount">{{consult.consultationPrice * (1 - consult.rebate) | toFixed : 2}}</td>
        <td class="amount">{{consult.materialPrice | toFixed : 2}}</td>
        <td class="amount">{{consult.medicamentPrice | toFixed : 2}}</td>
        <td class="amount">{{consult.consultationPrice * (1 - consult.rebate) + consult.materialPrice + consult.medicamentPrice | toFixed : 2}}</td>
        <td><i class="glyphicon glyphicon-trash" ng-click="delete(consult.id)" title="id: {{consult.id}}"></i></td>
        <td><i class="glyphicon glyphicon-pencil" ng-click="modify(consult)"></i></td>
      </tr>
      
      <tr class="success">
      	<th colspan="2"><strong>Total</strong></th>
      	<th class="amount">{{getDayConsultationPrice() | toFixed : 2}}</th>
      	<th />
      	<th class="amount">{{getDayConsultationPriceWithRebate() | toFixed : 2}}</th>
      	<th class="amount">{{getDayMaterialPrice() | toFixed : 2}}</th>
      	<th class="amount">{{getDayMedicamentPrice() | toFixed : 2}}</th>
      	<th class="amount">{{getTotalDayPrice() | toFixed : 2}}</th>
      	<th colspan="2" />
    </table>

    <p>Moitié prix consultation du jour (avec rabais) : {{getDayConsultationPriceWithRebate() / 2 | toFixed : 2}}</p>
  </div>
</div>

